{% extends "user/base.html" %}
{% block content %}
<div class="data-types">
    <div class="notice-background">
        <form method="post" action="{% url 'users_notice' %}" enctype="multipart/form-data" class="notice-form">
                {% csrf_token %}
                {% for elem in form %}
                <div class="class-form" ><label class="class-label" for="{{elem.id_for_label}}">{{elem.label}}</label><br>{{elem}}</div>
                <div>{{elem.errors}}</div>
                {% endfor %}
                <button type="submit" class="form-btn">Make notice</button>
        </form>
    </div>
    <div class="notice-content">
        {% include "notice/notices.html" %}
    </div>
</div>
{% endblock %}

