html,
body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    background-image: url('/static/site_img/back-stik_1.jpg')
}

form {
    margin: 0px;
}

input {
    border-radius: 5px;
    font-size: 1.2em;
}
textarea {
    max-height: 70%;
    max-width:75%;
    border-radius: 10px;
    font-size: 1.1em;
}
h2 {
    margin: 0;
    padding: 0;
}

h4 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}


a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

h1 {
       margin-top: 0;
}

.container {
    margin: 0 auto;
    border-radius: 15px;
    max-width: 1400px;
    background-color: #1BA39C;
    border-radius: 15px;
}

.header-avatar {
    border-radius: 15px;
    background-color: #F9BF3B;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 2px solid black;
}
.avatar {
    display: block;
    width: inherit;
    height: inherit;
    font-size: 0;
    border-radius: 15px;
}

.other-avatar {
    max-width: 20%;
    max-height: 20%;
}
.data-types {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 1000px;
}

.nav-element {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.nav-element-text {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    box-shadow: 0 0 10px 5px #ECF0F1;
    background-color: #ABB7B7;
    border-radius: 2px;
}

.nav-element div:hover {
    box-shadow: 0 0 100px 5px #19B5FE;
    border-radius: 2px;
    background-color: #95A5A6
    color: #F9690E;
}

.nav-element div a:hover {
    color: #D2D7D3;
}

.righted {
  order: 999;
  margin-left: auto;
}

.form-notice-content {
    display: flex;
    flex-direction: column;
    background-color: #F4B350;
    border-radius: 15px;
}
.form-btn {
    position: relative;
    left: 40%;
    transform: translate(-50%, 0);
}

button {
  cursor: pointer;
  display: inline-block;
  height: 2em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  user-select: none;
  color: rgb(0,0,0);
  outline: none;
  border: 1px solid rgba(0,0,0,.4);
  border-top-color: rgba(0,0,0,.3);
  border-radius: 2px;
  background-color: #F28705;
  box-shadow:
   0 0 3px rgba(0,0,0,0) inset,
   0 1px 1px 1px rgba(255,255,255,.2),
   0 -1px 1px 1px rgba(0,0,0,0);
  transition: .2s ease-in-out;
}
button:hover:not(:active) {
  box-shadow:
   0 0 3px #F28705 inset,
   0 1px 1px 1px #F28705;,
   0 -1px 1px 1px #F28705;;
}
button:active {
  background-color: #012E40;
  box-shadow:
   0 0 3px rgba(0,0,0,.5) inset,
   0 1px 1px 1px rgba(255,255,255,.4),
   0 -1px 1px 1px rgba(0,0,0,.1);
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 1;
    justify-content: space-evenly;
}

.user-style{
    font-size 1.4em;
}


.vl {
    border-right: 6px solid #012E40;
}

.notice-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('/static/site_img/notice.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    height: 500px;
}

.notice-form {
    align-items: center;
}
.notice-content {
    display: block;
    border-radius: 4px;
    flex-grow: 1;
}

.notice-content ul {
    display: flex;
    flex-direction: column;
}

.notice-content ul li {
    margin-right: 5%;
    border: 2px solid black;
    border-radius: 25px;
    justify-content: space-evenly;
}

.notice-content ul li:hover {
    box-shadow: 0 0 5em 1em black;
    background-color: #F39C12;

}

.class-form{
    position: relative;
    left: 55%;
    transform: translate(-50%, 0);
}


.choice-user {
    font-size: 1em;
    cursor: pointer;
}


.footer {
    margin-top: 2%;
    border-radius: 15px;
    background-color: #22313F;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    border-top: 2px solid #F39C12;
}

.footer a {
    text-decoration: none;
    color: #ABB7B7;
}

.footer a:hover {
    color: black;
    text-decoration: none;
    color: #D2D7D3
}

.footer {
    display: flex;
    justify-content: left;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.detail-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.detail-content{

}

.detail-page .title {
    display: inline-block;
    flex-shrink: 1;
    margin-left: 5%;
    text-decoration: underline;
}

.detail-page .text {
    display: inline-block;
    margin-bottom: 10px;
    min-height: 10%;
    border: 2px solid black;
    border-radius: 4px;
    word-break: break-all;
    overflow-y: auto;
    background-color: #fbf8a2;
}

.detail-page .author {
    display: inline-block;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #fbf8a2;
}


.class-form textarea{
    background-color: #fbf8a2;
}

.class-form input{
    background-color: #fbf8a2;
}

.notice-text {
    display: block;
    margin-left: 5%;
    margin-top: 2%;
}

.notice-text span{
    margin-left: 5%;
    margin-top: 2%;
    background-color: #F27935;
    text-decoration: underline;
    border-radius: 4px;
}

.list-pages {
	text-align: center;
	margin: 20px 0 0 0;
}
.list-pages ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
	margin: 0;
	padding: 0;
	list-style: none;
}
.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}
.list-pages a {
	color: #000;
	font-size: 24px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 60px;
	height: 44px;
	padding: 16px 0 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}
.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0;
}
.list-pages .page-num-selected {
	border: none;
	color: #000;
	font-size: 20px;
}
.list-pages .page-num-selected:hover {
	box-shadow: none;
}
